<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ '/' | relative_url }}">{{ site.title | default: "Jeremy Nichols" }}</a></h1>
      <p>{{ site.description }}</p>

          <p><a href="{{ '/' | relative_url }}">Home</a></p>

      <p>
        <strong>Professional Growth</strong><br>
        <a href="{{ '/resume' | relative_url }}">Resume</a><br>
        <a href="{{ '/skills' | relative_url }}">Skills</a><br>
        <a href="{{ '/projects' | relative_url }}">Projects</a><br>
        <a href="{{ '/refinement' | relative_url }}">Playbook refinement</a>
      </p>

      <p>
        <strong>Spiritual Progression</strong><br>
        <a href="{{ '/principles' | relative_url }}">Principles</a><br>
        <a href="{{ '/ethics' | relative_url }}">Ethical dilemma</a><br>
        <a href="{{ '/reflection' | relative_url }}">Reflection</a>
      </p>
    </header>

    <section>
      {{ content }}
    </section>
  </div>
</body>
</html>
